<h1>Please Fill the Signup Form</h1>
<p>Find me in app/views/welcome/createuser.html.erb</p>

<html>

<head>
  <title>Signup Page</title>
</head>
<body>
<p>Inspired by a need for Tux plushes.</p>

<div>
  <%= form_for Member.new do |f| %>
    <%= f.label :username %>
    <%= f.text_field :name %>

    <%= f.label :password %>
    <%= f.password_field :pwd %>
  
    <%= f.submit "Create my account", class: "btn btn-primary" %>
  <!--</form>-->
  <% end %>
</div>

</body>
