<!--<h1>Welcome#index</h1>-->
<h1>Welcome: Ready, Set, Cuddle!</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<html>
<head>
  <title>Project: Commission Plushes!</title>
</head>
<body>
<p>Inspired by a need for Tux plushes.</p>
<p>Already know what you want?  Ask for it <%= link_to 'here', 'welcome/request' %>.</p>
<!--<p>Not logged in?  Make an account <%= link_to 'here', 'welcome/createuser' %> or log in <%= link_to 'here', 'welcome/login' %>.</p>-->
<p>Not logged in?  Make an account <%= link_to 'here', 'members/new' %> or log in <%= link_to 'here', 'welcome/login' %>.</p>
</body>
