<head>
<style type="text/css">
div {
  width: 50%;
}
</style>
<script>
  $("#addNewLink").on("click", function() {
    return $("#link_fields").append($("#new_link_form").html());
  });

  this.removeLink = function(element) {
    return element.parent().remove();
  };
</script>
</head>

<h1>A buttload of forms will go here</h1>
<div>
<% if (current_user.about.nil?) %>
  <%= form_for(About.new) do |f| %>
    <h2>About me</h2>
    <p>Add a friendly intro about yourself!</p>
    <%= f.label :aboutme, 'Add a friendly intro about yourself!' %><br>
    <%= f.text_area :aboutme %>

    <h2>Upload to gallery</h2>
    I might actually want this on a separate page...

    <h2>Additional links</h2>
    <p>Got other work you'd like to show?  Add a link below</p>
    <%= current_user.about %>
    <input type="textbox" name="about[links][]" >

    <%= f.submit "Update", class:"btn btn-primary" %>
  <% end %>

<% else %>
  <%= form_for(current_user.about) do |f| %>
    <h2>About me</h2>
    <p>Add a friendly intro about yourself!</p>
    <%= f.label :aboutme, 'Add a friendly intro about yourself!' %><br>
    <%= f.text_area :aboutme %>

    <h2>Upload to gallery</h2>
    I might actually want this on a separate page...

    <h2>Additional links</h2>
    <p>Got other work you'd like to show?  Add a link below</p>
    <% current_user.about.links.each do |link| %>
      <%= label_tag "Link" %>
      <%= text_field_tag 'about[links][]', link, placeholder: link %>
    <% end %>

    <div id="link_fields">
      <%= render partial: "link_field" %>
    </div>
    <a href="javascript:;" id="addNewLink">Add New Link</a>

    <%= f.submit "Update", class:"btn btn-primary" %>
  <% end %>
<% end %>

<div style="display: none;", id="new_link_form">
  <%= render partial: "link_field", locals: {about: false} %>
</div>
</div>
