<head>
<style type='text/css'>
div {
  width: 50%;
}  
</style>
</head>

<h1>Request</h1>
(will probably try to autofill following) <br>
<p>Give us some details to give you a quote!</p>
<div>
<%= form_for(Request.new) do |f| %>

  <%= f.label :from, 'From' %><br>
  <%= text_field_tag :from %><br>
    
  <%= f.label :width, 'Width' %><br>
  <%= f.text_field :width %><br>

  <%= f.label :height, 'Height' %><br>
  <%= f.text_field :height %><br>

  <%= f.label :details, 'Additional Specifications' %><br>
  <%= f.text_area :details %>

  <%= f.submit "Send" %>
<% end %>
</div>
